.chart {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.chart-header {
    font-size: 1.75em;
    padding-bottom: 20px;
}
.d3-path-0 { color : MediumBlue; }
.d3-path-1 { color: FireBrick; }
.d3-path-2 { color: DarkGreen; }
.d3-path-3 { color: DarkViolet; }
.d3-path-4 { color: DodgerBlue; }
.d3-path-5 { color: Red; }
.d3-path-6 { color: LimeGreen; }
.d3-path-7 { color: DarkSlateGrey; }
.d3-path-8 { color: DeepSkyBlue; }
.d3-path-9 { color: DarkOrange; }
.d3-path-10 { color: MediumSpringGreen; }
.d3-path-11 { color: Violet; }
.d3-path-12 { color: Aqua; }
.d3-path-13 { color: Peru; }
.import-export {
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
